tqdm==4.60.0
https://download.pytorch.org/whl/cpu/torch-1.5.1+cpu-cp35-cp35m-linux_x86_64.whl
Flask==2.0.1
jsonify==0.5
requests==2.25.1
numpy==1.20.3
scikit_learn==0.24.2
requests==2.25.1
pandas==1.2.4
gunicorn

